@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Playpen+Sans:wght@500&display=swap');


body {
    min-height: 100vh;
    min-width: 100vh;
    background: url("../images/pexels-dana-tentis-370799.jpg");
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    color: yellow;
}

p {
    text-align: center;
    font-size: 31px;
    font-weight: bold;
    color: yellow;
}

.actions {
    display: flex;
    justify-content: center;
}

.actions button {
    padding: 8px 16px;
    font-size: 29px;
    border-radius: 9px;
    background-color: purple;
    color: yellow;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-gap: 16px;
    grid-template-columns: repeat(6, 140px);
    grid-template-rows: repeat(2, calc(140px / 2 * 3));
}

.card {
    height: calc(140px / 2 * 3);
    width: 139px;
    border-radius: 11px;
    background-color: purple;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;

}

.background {
    background: url("../images/paw-print.png")
}

.front-image {
    width: 61px;
    height: 61px;
}

.card.flipped {
    transform: rotateY(180deg);
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    border-radius: 11px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.card .front {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

card .back {
    background-position: center center;
    background-size: cover;
    backface-visibility: hidden;

}

.card .front {
    transform: rotateY(180deg);
}



/* --------- Media queries */

@media screen and (max-width: 768px) {

    .h1 {
        font-size: larger;
        color: aqua;
    }
}